/* Réinitialisation des marges et des paddings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Style général de la page */
body {
    font-family: 'Poppins', sans-serif;
    background-color: #376466;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.list:before {
    content: "\2794";
    color:#8c52ff;
    font-size: 2em;
    font-weight: bold;
}

/* En-tête */
header {
    background-color: #e2c736;    
    color: #376466;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .logo img {
    width: 150px;
    height: auto;
}

header h1 {
    font-size: 48px;
    margin-left: 20px;
    font-family: 'Bebas Neue', sans-serif;
    font-weight: bold;
}

/* Zone centrale avec 2 colonnes */
.content {
    display: flex;
    padding: 20px;
    flex: 1;
}

.content .left-column,
.content .right-column {
    width: 50%;
    padding: 10px;
}

.content .left-column {
    background-color: white;
}

.content .right-column {
    background-color: white;
    text-align: center;
}
.contenu{
  margin-top: 20%;  
}
#qrcode {
    width: 200px;                  
    height: auto;              
}

.content h1 {
    font-size: 1.8em;
    margin-bottom: 20px;
    text-align: left;
    color:#376466;
}
.content h1.PriseLicence{
    text-align: center;
}
.content p{
    color:#376466;
}
.content img.photo {
    width: 100%;
    padding:10px;
}


/* Footer fixe en bas */
footer {
    background-color: #e2c736;     
    color: #376466; 
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}
.footer-left {
    text-align: left;             /* Alignement du texte à gauche dans la première div */
}

.footer-right {
    text-align: right;            /* Alignement du texte à droite dans la deuxième div */
}
.footer-right img {
    width: 40px;
    margin: 0 10px; 
    transition: transform 0.3s;
}

.footer-right img:hover {
    transform: scale(1.2);
}

footer .footer-left,
footer .footer-right {
    width: 48%;
}
